body{
    color: #434455;
    line-height: 1.5;
    font-family: "Roboto" sans-serif;
    background-color: #ffffff;
    
}
.page-logo-first{
color: #4D5AE5;
text-decoration: none;
font-family: "Raleway";
font-weight: 700;
line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.page-logo-second{
color: #2e2f42;
font-family: "Raleway";
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.page-nav .page-nav-list{
list-style: none;
text-decoration: none;


}
.page-nav-link{
    text-decoration: inherit;
    color: #434455;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.page-nav-link:hover{
    color: #404bbf;
}
.page-nav-link:focus{
    color: #404bbf;
}
.page-address{
    font-style: normal;
}
.page-address-list{
    list-style-type: none;
}
.page-address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.page-address-link:hover{
    color: #404bbf;

}
.page-address-link:focus{
    color: #404bbf;
}
.hero-section{
    background-color: #2E2F42;
}
.hero-section .hero-title{
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
}
.hero-button{
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero-button:hover{
    font-size:17px;
}
.section-about-hidden-title{
    display: none;
}
.our-team-section-title,.our-portfolio-title{
font-weight: 700;
font-size: 36px;
}
footer{
background-color: #2E2F42;
}
.footer-logo-first{
color: #4D5AE5;
text-decoration: none;
font-family: "Raleway";
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.footer-logo-second{
color: #F4F4FD;
font-family: "Raleway";
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.page-footer-text{
    color:#F4F4FD;
}
.our-team-section ul{
    list-style-type: none;
}
.our-portfolio-section ul{
    list-style-type: none;
}